@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 10px;
}
table{
    margin: 1rem auto;
    border-radius: 2rem;
    border: 2rem hidden #443C68;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    max-width: 1220px;
   /* height: 20px; */
   /* width: 100%; */
    background-color: black;
    color: #fff;
    
}
li , p, a, td{
    font-size: 1.6rem;
    line-height: 1.6;
}
thead{
    font-size: 1.8rem;
    background-color: #443C68;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
}
tbody td{
    /* width: 50px; */
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    cursor: pointer;
    color: black;
    text-decoration: none;
    list-style: none;
  }
  nav ul li{
    list-style: none;
  }
  
  